.text-platzi{
    color: #97c93e !important;
}

.footer{
    background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
} 


.footer a{
    color: white;
}

#header{
    box-shadow: 0px 4px 10px #888;
}

#header img{
    width: 80px;
}


